In [1]:
import pandas as pd
!pip install -U pandas --user

Requirement already satisfied: pandas in /Users/kyndallbutler/.local/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

cleaned_pet_df = pd.read_csv('pet_data_cleaned.csv')
print(cleaned_pet_df)

      Unnamed: 0        id                                                url  \
0              0  59310612  https://www.petfinder.com/cat/ray-59310612/mi/...
1              1  59310606  https://www.petfinder.com/dog/rum-59310606/ca/...
2              2  59310593  https://www.petfinder.com/cat/flappy-59310593/...
3              3  59310592  https://www.petfinder.com/dog/kelan-59310592/t...
4              4  59310589  https://www.petfinder.com/cat/rosalind-5931058...
...          ...       ...                                                ...
1295        1295  59307522  https://www.petfinder.com/cat/rooster-59307522...
1296        1296  59307517  https://www.petfinder.com/cat/chicky-59307517/...
1297        1297  59307510  https://www.petfinder.com/dog/precious-chonk-5...
1298        1298  59307511  https://www.petfinder.com/dog/gus-59307511/mn/...
1299        1299  59307512  https://www.petfinder.com/dog/griddy-59307512/...

        age  gender type species            name  \
0      Baby  Female  Cat     Cat             Ray
1     Young    Male  Dog     Dog             Rum
2      Baby  Female  Cat     Cat          Flappy
3     Young    Male  Dog     Dog           Kelan
4      Baby  Female  Cat     Cat        Rosalind
...     ...     ...  ...     ...             ...
1295  Young    Male  Cat     Cat         Rooster
1296  Young  Female  Cat     Cat          Chicky
1297  Adult  Female  Dog     Dog  Precious Chonk
1298  Adult    Male  Dog     Dog             Gus
1299   Baby    Male  Dog     Dog          Griddy

                                            description     status  ...  \
0     Siblings Luke, Leia, &amp;amp; Ray were found ...    adopted  ...
1                                                   NaN    adopted  ...
2     Hiya, I&#039;m sweet little baby Mafalda, I wa...    adopted  ...
3     Kelan is a Shepherd/Husky Mix. His owner canâ€™t...    adopted  ...
4     Meet Rosalind!\n\nSpayed female\nDSH\nApprox. ...    adopted  ...
...                                                 ...        ...  ...
1295  Meet Chicky and Rooster!\nThese bonded floofy ...  adoptable  ...
1296  Meet Chicky and Rooster!\nThese bonded floofy ...  adoptable  ...
1297  You can fill out an adoption application onlin...  adoptable  ...
1298  You can fill out an adoption application onlin...  adoptable  ...
1299  You can fill out an adoption application onlin...  adoptable  ...

      mixed               address1           address2             city  state  \
0     False      2532 N. Dixie Hwy                NaN           Monroe     MI
1     False  115 E. Wetmore Street                NaN          Manteca     CA
2      True                    NaN                NaN         New York     NY
3     False            PO Box 1014                NaN        Brentwood     TN
4     False              PO BOX 62  Pearson Mill Road       New Castle     PA
...     ...                    ...                ...              ...    ...
1295  False                    NaN                NaN        Mansfield     TX
1296  False                    NaN                NaN        Mansfield     TX
1297   True           PO Box 29461                NaN  Brooklyn Center     MN
1298   True           PO Box 29461                NaN  Brooklyn Center     MN
1299   True           PO Box 29461                NaN  Brooklyn Center     MN

        zip country                                        small_photo  \
0     48162      US                                                NaN
1     95337      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
2     10009      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
3     37024      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
4     16103      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
...     ...     ...                                                ...
1295  76063      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1296  76063      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1297  55429      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1298  55429      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1299  55429      US  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...

                                           medium_photo  \
0                                                   NaN
1     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
2     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
3     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
4     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
...                                                 ...
1295  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1296  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1297  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1298  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1299  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...

                                            large_photo
0                                                   NaN
1     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
2     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
3     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
4     https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
...                                                 ...
1295  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1296  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1297  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1298  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...
1299  https://dl5zpyw5k3jeb.cloudfront.net/photos/pe...

[1300 rows x 24 columns]

In [3]:
sr = cleaned_pet_df['primary']
print(sr)

cleaned_pet_df = cleaned_pet_df.assign(breed = sr)

0       Domestic Short Hair
1        Labrador Retriever
2       Domestic Short Hair
3       German Shepherd Dog
4       Domestic Short Hair
               ...
1295     Domestic Long Hair
1296          Tortoiseshell
1297                Terrier
1298              Chihuahua
1299     Labrador Retriever
Name: primary, Length: 1300, dtype: object

In [7]:
#Establish a connection to SQL: 
from sqlalchemy import create_engine

# Creating connection object
protocol = 'postgresql'
username = 'postgres'
password = 'postgre'
host = 'localhost'
port = 5433
database_name = 'petfriends'

In [8]:
#Create engine connection:
connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'

engine = create_engine(connection_string)

In [9]:
cleaned_pet_df.to_sql(name='adoptees', con=engine, if_exists='replace', index=False)
friends = engine.execute("SELECT type, name, age, gender, city, breed, state FROM adoptees ORDER BY state ASC").fetchall()

In [37]:
adoptables = cleaned_pet_df[['id', 'type', 'name', 'age', 'gender', 'city', 'breed', 'state', 'status']]
avail = adoptables.set_index("status")
avail.head()

,id,type,name,age,gender,city,breed,state
status,,,,,,,,
adopted,59310612,Cat,Ray,Baby,Female,Monroe,Domestic Short Hair,MI
adopted,59310606,Dog,Rum,Young,Male,Manteca,Labrador Retriever,CA
adopted,59310593,Cat,Flappy,Baby,Female,New York,Domestic Short Hair,NY
adopted,59310592,Dog,Kelan,Young,Male,Brentwood,German Shepherd Dog,TN
adopted,59310589,Cat,Rosalind,Baby,Female,New Castle,Domestic Short Hair,PA

In [39]:
available = avail.drop("adopted")
available.head(n=25)

,id,type,name,age,gender,city,breed,state
status,,,,,,,,
adoptable,59310626,Dog,Freckles,Baby,Female,Austin,Pit Bull Terrier,TX
adoptable,59310627,Dog,JoJo,Baby,Female,Austin,Pit Bull Terrier,TX
adoptable,59310625,Dog,Ollie,Baby,Male,Austin,Pit Bull Terrier,TX
adoptable,59310620,Dog,BROGAN,Young,Male,Visalia,Australian Cattle Dog / Blue Heeler,CA
adoptable,59310617,Dog,Buster,Adult,Male,Hot Springs,Corgi,AR
adoptable,59310614,Cat,Sashimi,Young,Female,Fairport,Domestic Medium Hair,NY
adoptable,59310611,Cat,Jet,Baby,Male,Monroe,Domestic Short Hair,MI
adoptable,59310610,Cat,Lady,Adult,Female,Monroe,Domestic Short Hair,MI
adoptable,59310609,Dog,Floppy (in a foster home),Baby,Female,Leesville,Catahoula Leopard Dog,LA
adoptable,59310608,Cat,Paige,Baby,Female,Egg Harbor City,Torbie,NJ
adoptable,59310594,Cat,Sunshine,Adult,Male,Red Wing,Domestic Short Hair,MN
adoptable,59310580,Dog,Bourbon,Adult,Male,Manteca,German Shepherd Dog,CA
adoptable,59310579,Cat,Pepper,Young,Male,Old Bridge,Domestic Short Hair,NJ
adoptable,59310575,Dog,Lola (OR),Adult,Female,Portland,Shepherd,OR
adoptable,59310576,Cat,Spooky,Adult,Male,St. Louis,Domestic Short Hair,MO
adoptable,59310577,Cat,Pumpkin Butt,Adult,Male,St. Louis,Domestic Short Hair,MO
adoptable,59310570,Cat,LuLu,Young,Female,Mountain View,Torbie,AR
adoptable,59310562,Dog,Cooper,Adult,Male,Hot Springs,Mountain Cur,AR
adoptable,59310559,Cat,Milky Way Sanchez 0822,Baby,Female,West Bloomfield,Domestic Short Hair,MI
adoptable,59310557,Cat,Macho Man,Adult,Male,Council Bluffs,Domestic Short Hair,IA
adoptable,59310556,Cat,Greyson Greylock,Adult,Male,Phoenix,Russian Blue,AZ
adoptable,59310554,Cat,Midnight Sanchez 0822,Baby,Male,West Bloomfield,Domestic Short Hair,MI
adoptable,59310547,Cat,Hallie,Baby,Female,Midlothian,Domestic Short Hair,TX
adoptable,59310545,Dog,Eva,Young,Female,Rancho Santa Fe,Mixed Breed,CA
adoptable,59310543,Dog,Gizmo,Young,Male,Arcadia,Miniature Poodle,FL

In [47]:
totals = available.groupby(['type', 'state'])
totals

In [46]:
counts = totals['id'].count
counts